// Flexbox Settings
@mixin flex(
  $disp: flex,
  $dir: null,
  $wrap: null,
  $just: null) {
  display: $disp;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $just;
  @content;
}

@mixin mq($breaks...) {
  @if length($breaks) == 1 {
    @media (min-width: nth($breaks, 1)) {
      @content;
    }
  }
  @if length($breaks) == 2 {
    @media (min-width: nth($breaks, 1)) and (max-width: nth($breaks, 2)) {
      @content;
    }
  }
}
