// Page layout container

.container {
  padding: 0 1em;
  @include mq(998px) {
    width: 95%;
    margin: 0 auto;
  }
  @include mq(1150px) {
    max-width: $max-width;
  }
}

.flex {
  @include mq(1150px) {
    @include flex($dir: row, $just: space-between, $wrap: wrap) {
      align-items: flex-start;
    }
  }
}

// Portfolio container

.portfolio {
  @include mq(700px) {
    @include flex($dir: row, $just: space-between, $wrap: wrap);
  }
  &__item {
    max-height: 250px;
    margin-bottom: 30px;
    @include mq(700px) {
      flex: 0 per-line(2);
    }
    @include mq(1024px) {
      flex-basis: per-line(3);
    }
    @include mq(1150px) {
      flex-basis: per-line(2);
    }
  }
  &__container {
    border: .5px solid #eee;
    border-radius: 4px;
    text-align: center;
    position: relative;
    overflow: hidden;
    &:hover .portfolio__overlay {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    &:hover .portfolio__img {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      // @for $i from 1 through 8 {
      //   &--#{$i} {
      //     -webkit-transform: translateX(100%);
      //     transform: translateX(100%);
      //   }
      // }
    }
  }
  &__img {
    // @include gallery($folder: $path-img-portfolio, $prefix: project, $max: 8);
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 250px;
    overflow: hidden;
    -webkit-transition: -webkit-transform .6s $transition-slow-end;
    transition: transform .6s $transition-slow-end;
  }
  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
    background: $color-primary-dk;
    color: $white;
    @include flex($dir: column, $just: center) {
      align-items: center;
    }
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform .6s $transition-slow-end;
    transition: transform .6s $transition-slow-end;
  }

}

.portfolio--full {
  .portfolio__item {
    @include mq(1024px) {
      flex-basis: per-line(3);
    }
  }
  .portfolio__container:hover .portfolio__img {
    @for $i from 1 through 7 {
      &--#{$i} {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
      }
    }
  }
  .portfolio__img {
    @include gallery($folder: $path-img-portfolio, $prefix: project, $max: 7);
  }
}


// .image-container {
//   @include mq(700px) {
//     float: left;
//     margin: 5px 20px 5px 0;
//     width: 280px;
//     height: 192px;
//     overflow: hidden;
//     border-radius: 4px;
//   }
//   @include mq(872px) {
//     width: 350px;
//   }
// }
.image-container {
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.65)
    ), url('#{$path-img}stavanger.jpg') no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  color: $white;
  padding: 5%;
  overflow: hidden;
}

.about-content {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 0 15px;
    .link {
      color: $color-link-hover;
      &:hover {
        color: $color-link;
      }
    }
  }

.col {
  @include mq(700px) {
    display: inline-block;
    vertical-align: top;
  }
}

.primary {
  @include mq(700px) {
    width: 60%;
    padding-right: 2em;
  }
}

.secondary {
  @include mq(700px) {
    margin-right: -5px;
    width: 40%;
  }
}
