// Page layout container

.container {
  padding: 0 1em;
  @include mq(998px) {
    width: 95%;
    margin: 0 auto;
  }
  @include mq(1150px) {
    max-width: $max-width;
  }
}

.flex {
  @include mq(1150px) {
    @include flex($dir: row, $just: space-between, $wrap: wrap) {
      align-items: flex-start;
    }
  }
}

// Portfolio container

.portfolio {
  @include mq(700px) {
    @include flex($dir: row, $just: space-between, $wrap: wrap);
  }
  &__item {
    max-height: 250px;
    margin-bottom: 30px;
    @include mq(700px) {
      flex: 0 per-line(2);
    }
    @include mq(1024px) {
      flex-basis: per-line(3);
    }
    @include mq(1150px) {
      flex-basis: per-line(2);
    }
  }
  &__container {
    border: .5px solid #eee;
    border-radius: 4px;
    text-align: center;
    position: relative;
    overflow: hidden;
    &:hover .portfolio__overlay {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    &:hover .portfolio__img {
      @for $i from 1 through 5 {
        &--#{$i} {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
        }
      }
    }
  }
  &__img {
    @include gallery($folder: $path-img-portfolio, $prefix: project, $max: 5);
  }
  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
    background: $color-primary-dk;
    color: $white;
    @include flex($dir: column, $just: center) {
      align-items: center;
    }
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform .6s $transition-slow-end;
    transition: transform .6s $transition-slow-end;
  }

}

.portfolio--full {
  .portfolio__item {
    @include mq(1024px) {
      flex-basis: per-line(3);
    }
  }
  .portfolio__container:hover .portfolio__img {
    @for $i from 1 through 5 {
      &--#{$i} {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
      }
    }
  }
  .portfolio__img {
    @include gallery($folder: $path-img-portfolio, $prefix: project, $max: 5);
  }
}


.image-container {
  @include mq(700px) {
    float: left;
    margin: 5px 20px 5px 0;
    width: 280px;
    height: 192px;
    overflow: hidden;
  }
  @include mq(872px) {
    width: 350px;
  }
}

.col {
  @include mq(700px) {
    display: inline-block;
    vertical-align: top;
  }
}

.primary {
  @include mq(700px) {
    width: 60%;
    padding-right: 2em;
  }
}

.secondary {
  @include mq(700px) {
    margin-right: -5px;
    width: 40%;
  }
}
