.footer {
  text-align: center;
  background: $color-secondary;
  color: $white;
  border-top: $border-lg;
  height: 91px;
  @include flex($just: center) {
    align-items: center;
  }
  &__social-media {
    margin-top: 10px;
    @include mq(912px) {
      display: none;
    }
  }
  .container {
    width: 100%;
  }
}
