.main-header {
  background: linear-gradient(56deg, rgba(43, 46, 224, 0.15) 0%,rgba(26, 218, 182, 0.15) 100%),
              linear-gradient(336deg, rgba(50, 52, 221, .55),rgba(60, 239, 241, .55)),
              $color-secondary url('#{$path-img}background.jpg') no-repeat center / cover;
  margin-bottom: 40px;
  height: 645px;
  padding-top: 91px;
  .container {
    @include flex() {
      align-items: center;
    }
    position: relative;
    padding: 0 5%;
    height: 100%;
  }
  .profile {
    @include flex($dir: row) {
      align-items: center;
      margin-right: auto;
    }
    &__logo {
      margin-top: 5px;
      @include mq(872px) {
        text-align: left;
      }
    }
  }
}

// Navigation styles

nav {
  height: 91px;
  box-sizing: content-box;
  background: $color-secondary;
  position: fixed;
  top: 0;
  width: 100%;
  transition: border .5s;
  z-index: 1000;
}

.nav {
  animation-delay: .8s;
  @include mq(872px) {
    margin-right: 5%;
  }
  &__item {
    @include mq(700px) {
      display: inline-block;
    }
    @include mq(872px) {
      margin-left: 10px;
    }
    &:nth-child(2) {
      @include mq(872px) {
        margin-left: 0;
      }
    }
    &--mobile {
      border-top: 1px solid $color-primary-dk;
      &:first-child {
        border: none;
      }
    }
    &--hamburger {
      background: url('../../icons/hamburger-icon.svg') no-repeat;
      width: 38px;
      height: 38px;
      cursor: pointer;
      @include mq(700px) {
        display: none;
      }
    }
    &--desktop {
      display: none;
      @include mq(700px) {
        display: inline-block;
      }
    }
  }
  &__link {
    display: block;
    padding: 0 1em;
    color: $white;
    font-size: px-to-em(20px);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .050em;
    text-align: center;
    transition: color .4s, background .4s;
    @include mq(700px) {
      font-size: px-to-em(16.8px);
    }
    &:hover {
      color: $color-primary;
    }
    &--mobile {
      padding: .5em 1em;
      background: $color-primary;
      @include mq(700px) {
        display: none;
      }
      &:hover {
        background: $color-secondary;
      }
    }
  }
}

.mobile-nav {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  animation-duration: .5s;
}

.social-media {
  display: none;
  @include mq(912px) {
    display: block;
  }
}

.intro-wrap {
  @include mq(700px) {
    width: 90%;
    max-width: 1200px;
  }
  text-align: center;
  margin: 7.2em auto 0;
  padding: 0 5%;
  color: $white;
  line-height: 1.4;
}