.profile-photo {
  @extend %rounded-image;
  display: inline-block;
  background: url('#{$path-img}jamie-reardon.jpg') no-repeat center / cover;
  background-clip: content-box;
  padding: 4px;
  border: $border-sm;
  width: 110px;
  height: 105px;
  transition: filter .6s cubic-bezier(0.075, 0.82, 0.165, 1), transform .6s cubic-bezier(0.075, 0.82, 0.165, 1), border-radius .6s $transition-smooth, margin-right .5s;
  -webkit-transition: -webkit-filter .6s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform .6s cubic-bezier(0.075, 0.82, 0.165, 1), border-radius .6s $transition-smooth, margin-right .5s;
  @include mq(872px) {
    margin-right: 15px;
    width: 95px;
    height: 90px;
  }
  &:hover {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transform: scale(1.08);
    border-radius: 5px;
  }
}

.social-icon {
  width: 20px;
  margin: 5px;
}
