.profile-photo {
  @extend %rounded-image;
  padding: 5px;
  border: $border-sm;
  width: 120px;
  transition: filter .5s, transform .5s, border-radius .5s;
  &:hover {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transform: scale(1.08);
    border-radius: 5px;
  }
}

.social-icon {
  width: 20px;
  margin: 5px;
}
