.skills {
  &__item {
    font-weight: $font-weight-semi-bold;
    color: $white;
    display: inline-block;
    margin-right: 2px;
    background: $color-primary-dk;
    padding: 5px 10px;
    border-radius: 6px;
    &:nth-child(odd) {
      background: $color-primary-lt;
    }
  }
  &__name {

  }
}
