.section {
  &__about {
    @extend %clearfix;
  }
}


// Page Lists
.skills {
  &__item {
    font-weight: $font-weight-semi-bold;
    color: $white;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 5px;
    background: $color-primary-dk;
    padding: 5px 10px;
    border-radius: 6px;
    &:nth-child(odd) {
      background: $color-primary-lt;
    }
  }
  &__name {

  }
}

.contact {
  .list__item {
    margin-bottom: 5px;
    &::before {
      content: '';
      @extend %rounded-image;
      display: inline-block;
      background: $color-primary-lt;
      width: 8px;
      height: 8px;
      margin-right: 5px;
    }
  }
  .list__desc {
    color: $color-primary;
  }
  .link {
    margin-left: 5px;
  }
}
