.title {
  color: $white;
  font-family: $font-secondary;
  font-size: px-to-em(28px);
  line-height: 1.2;
}

.slogan {
  color: $white;
  font-size: px-to-em(18px);
}

.headline__primary {
  color: $color-primary;
  font-size: px-to-em(24px);
  font-weight: $font-weight-semi-bold;
}

.link {
  color: $color-link;
  font-weight: $font-weight-semi-bold;
  &:hover {
    color: $color-link-hover;
  }
}

.name {
  font-family: $font-secondary;
}
